<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:employee.properties" />
	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <bean id="myEmployee"
    		class="com.javateam.medicalcenter.entity.Employee"
	scope="singleton">


<!--		<property name="employeePosition" value="${position}"/>-->
<!--		<property name="hireDate" value="${hireDate}"/>-->
<!--		<property name="salary" value="${empl.salary}"/>-->


	</bean>
    
<!-- 	<bean id="myUser"-->
<!-- 		class="com.javateam.medicalcenter.entity.Employee">-->

<!-- 	</bean>-->

    <!--
    <bean id="myUser"
        class="com.javateam.medicalcenter.entity.Doctor">
    </bean>
    -->

</beans>





